.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
    
}

.sideBar.mainContent {
    background: #0f172a;
}

.titleAndSearch {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

}

.title h1,
.title p {
    margin: 0;
}

.title p{
    margin-top: 15px;
}

.mainContent {
    height: 100vh;
    padding: 24px 20px ;
}

.metricCards {
    height: auto;
    margin-bottom: 12px;
    display: flex;
    gap: 12px;
    justify-content: center;
}



.dashboardPainel {
    background-color: blueviolet;
}

.climaStatus {
    background-color: antiquewhite;
}

.criticalTasks {
    background-color: aqua;
}