.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 150px 1fr 250px;
    gap: 20px;
    min-height: 100vh;
}

.mainContent {
    height: 100vh;
    padding: 24px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr 1fr;
    grid-template-areas: "title title" "cards cards" "dashboard clima" "dashboard tarefas";
    gap: 20px;
}

.sideBar.mainContent {
    background: #0f172a;
}

.titleAndSearch {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    grid-area: title;

}

.title h1,
.title p {
    margin: 0;
}

.title p {
    margin-top: 15px;
}

.metricCards {
    height: auto;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-evenly;
    grid-area: cards;
}



.dashboardPainel {
    grid-area: dashboard;
    min-height: 400px;
    margin-right: 50px;
}

.climaStatus {
    grid-area: clima;
    min-height: 250px;
    border-radius: 16px;
    padding-left: 24px;
    padding-top: 24px;
}

.criticalTasks {
    grid-area: tarefas;
    min-height: 250px;
    padding-left: 24px;
    padding-top: 24px;
}

.titleTask {
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.titleButton {
    color: #2563EB;
    width: 32px;
    height: 32px;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.titleButton:hover {
    font-size: 1.1rem;
    color: #38BDF8;
}

.allTasks {
    font-size: 1rem;
    font-weight: medium;
    color: #ffff;
    background-color: transparent;
    border: none;
    margin-left: 25%;
}

.allTasks:hover {
    font-size: 1.1rem;
    color: #38BDF8;
}