.container h2{
    color:#fff;
    font-size: 2rem;
}
.container h3{
    font-size: 1.5rem;
    color:#94a3b8;
    padding-top: 5px;
}

.item{
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: baseline;
    margin-left: 2rem;
}

.icon{
    line-height: 4rem;
    font-size: 3rem;
}

.item p{
    font-size: 2rem;
    line-height: 3rem;
   

}

@media (max-width:768px){
    .container h2{
        font-size: 1.5rem;
    }
    .container h3{
        font-size: .8rem;
    }

    .item p, .icon{
        font-size:1.5rem;
        line-height: 2rem;
        padding-top: 10px;
    }
}
@media (max-width:1440px){
    .container h2{
        font-size: 3rem;
    }
    .container h3{
        font-size: 2rem;
    }

    .item p, .icon{
        font-size:2.5rem;
        line-height: 6rem;
        padding-top: 10px;
    }
}

