.projectInfo {
    background-color: #111827;
    height: 750px;
    width: auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}



.projectText {
    display: flex;
    width: 1216px;
    height: 100px;
    padding: 15px;
}



h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold; ;

}

p{
    line-height: 20px;
    font-size: 1rem;
}

.cardProject{
    height: 350px;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: start;
    padding: 15px;

}

.divButton{
    width: 85px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 700px;
} 

 .divButton button{
    border-radius: 999px;
    width: 40px;
    height: 40px;
    font-size: 20px;

}