.projectInfo{
    background-color: #111827;
    height: 485px;
    width: auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid olivedrab;
}

/* .projectText{

} */
