.projectInfo {
    background-color: #111827;
    height: 750px;
    width: 1024;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}



.projectText {
    display: flex;
    width: 1216px;
    height: 100px;
    padding-left : 15px;

}



.projectTitle{
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;

}

.projectParagraph{
    line-height: 20px;
    font-size: 1rem;
  
}


.cardProject{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 15px;
    

}

.divButton{
    width: 85px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 700px;
    background-color: transparent;

} 

 .divButton button{
    background-color: transparent;
    border-radius: 999px;
    border: transparent;
    width: 40px;
    height: 40px;
    font-size: 20px;

}

.buttonProjects{
    background-color: transparent;
    border:1px solid transparent;
    width: 210px;
    height: 46px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    border-radius: 8px;

}