.container{
    background-color: #111827;
    height: 485px;
    width: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.textbutton {
    background-color: transparent;
    color:#fff;
    width: 172px;
    height: 58px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 5px;
    margin-top:30px;
    background-color: #0f172a;

}

.textbutton:hover{
    background-color:#3B82F6;
}

.buttonContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p{
margin-top: 50px;    
}