.navContent{
    width: 1024px;
    height: 82px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: #0f172a;

}

.links{
    padding-top: 10px;
}


a{
    text-decoration: none;
    margin:10px;
}

a:hover{
    color:#3B82F6;
    text-decoration: underline;
    text-underline-offset: 35px;
}

.navButton{
height: 40px;
width: auto;
background-color: transparent;
font-size: 14px;
line-height: 20px;
margin: 5px;
padding: 5px;
color:#fff;
border-radius: 5px;
border: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar.navButton:hover{
    background-color:#3B82F6;
}

.logo img{
    height: 200px;
    width: 250px;
}
.sideBar{
    height: 100vh;
    width: 100%;
    min-width: 20%;
    border: 1px solid #000;
    font-size:14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sideBar .logo img{
    height: 140px;
    width: 190px;
}

.sideBar .links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 24px;
    font-size: 14px;
    width: 200px;
    height: auto;

}

.sideBar a:hover{
    border-left: 3px solid #2563EB;
    border-radius: 7px;
    text-decoration: none;
    padding-left:5px;
}

.sideBar .login{
    display: flex;
    flex-direction: column;
    width:auto;
    margin-top: 100px;
}

.sideBar .navButton{
    cursor: pointer;
}

