.navContent{
    width: auto;
    height: 82px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: #0f172a;

}

.login, .links{
    height: 50px;
    
}
.links{
    padding-top: 10px;
}


a{
    text-decoration: none;
    margin:10px;
}

a:hover{
    color:#3B82F6;
    text-decoration: underline;
    text-underline-offset: 35px;
}

.navButton{
height: 40px;
width: auto;
background-color: transparent;
font-size: 14px;
line-height: 20px;
margin: 5px;
padding: 5px;
color:#fff;
border-radius: 5px;
border: 1px solid rgba(255, 255, 255, 0.1);
}
.navButton:hover{
    background-color:#3B82F6;
}

.logo img{
    height: 200px;
    width: 250px;
}