.cardContainer{
    background-color: #1E293B;
    color:#fff;
    width: 389px;
    height: 227px;
    padding: 15px;
}

.sup{
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    gap:15px;
    margin-top:10px ;
}

.text , .text span {
    color: white;
    font-size: 1rem;
    width: 200px;
    

}

.text span{
    display: block;
}

.img{
    width: 50px;
    height: 50px;
    background-color: bisque;

}

.status{
    color:#fff;
    width: 75px;
    height: 25px;
    background-color: #008000;
    
}

.bar{
    margin-top: 30px;
    
}

.inf{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.people{
    width: 100px;
    height: 50px;
}

.inf button{
width: 98px;
height: 32px;
font-weight: normal;
font-size: 14px;
line-height: 20px;
border-radius: 8px;
color: #38BDF8;
background-color: transparent;
border: none;
}

.inf button:hover{
    color: #fff;
}

